<div class="row">
    <div id="sidebar" class="col-md-3 py-5">
        <div class="sidebar-header my-3 font-normal">
            <h3>Freshest Rendering</h3>
        </div>
        <div class="sidebar-content">
            <div class="iframe-container">
                <iframe src="https://www.youtube.com/embed/iBNHARrP30I?si=jmbrGsuXQdhLIcoi" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>        
        </div>
    </div>

    <div class="main-text col-md-9 justify-content-center py-5 font-normal">
        <h2>Up Coming</h2>
        <p>This is the main content of the home page.</p>
    </div>
</div>
