<div class="row">
    <div id="sidebar" class="col-md-3 my-2 bg-light">
        <div class="sidebar-header">
            <h3>What is a Render File?</h3>
        </div>
        <div class="sidebar-content">
            <p>This is some text in the sidebar.</p>
            <p>You can add more text here.</p>
        </div>
    </div>

    <div class="col-md-9">
        <h2>Main Content</h2>
        <p>This is the main content of the home page.</p>
    </div>
</div>
