#sidebar {
    height: 100%;
    border-radius: 6px;
}

.navbar-toggler {
    color: #0D1020;
}

.navbar {
    background-color: #AAAAAA;
}

.navbar a {
    color: #0D1020;

}

.sidebar-header {
    background-color: #457A59;
    padding:10px;
    border-radius: 8px;
}

.sidebar-header h3 {
    font-size: 16px;

}


.font-normal {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
  }

  body {
    /* Linear gradient from top (#4CAF50) to bottom (#2196F3) */
    background-image: linear-gradient(to bottom, #C0AFF0, #709FC1 );
}

.card-title {
    font-size: 17px;
}

.card-text {
    font-size: 12px;
}

.iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 70%; /* 16:9 aspect ratio */
    overflow: hidden;
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
}

/* Center main content */
#sidebar,
.main-text {
    text-align: center;
}

/* Old school default submit button style */
.old-school-button {
    background-color: #f0f0f0; /* Light gray background */
    border: 1px solid #000; /* Black border */
    color: #000; /* Black text color */
    padding: 10px 20px; /* Padding */
    font-size: 16px; /* Font size */
    font-weight: bold; /* Bold font weight */
    cursor: pointer; /* Cursor style */
    text-transform: uppercase; /* Uppercase text */
    text-align: center; /* Center text */
    display: inline-block; /* Make it inline-block to adjust width */
    text-decoration: none; /* Remove default link underline */
    margin-top: 20px; /* Add some top margin */
}

/* Hover effect */
.old-school-button:hover {
    background-color: #ccc; /* Darken the background color on hover */
}

  